<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright (C) 2014 Vinicius Rogério Araujo Silva
 -
 - This file is part of AquaRipper.
 - 
 - AquaRipper is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 - 
 - AquaRipper is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU General Public License for more details.
 - 
 - You should have received a copy of the GNU General Public License
 - along with AquaRipper.  If not, see <http://www.gnu.org/licenses/>.
 -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="AquaRipper Trainer" Version="1.0.0" Manufacturer="Vinicius.RAS" UpgradeCode="C2C162BA-374B-459A-9A11-937ADA6F272F"
          IconSourceFile="$(var.AquaRipper.ProjectDir)media\icon.ico"
          DisableModify="yes">
    <!-- Configure to use Wix Toolset's standard bootstrapper application for installing the chain of packages. -->
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="$(var.AquaRipper.ProjectDir)docs\License.rtf"
                                              LogoFile="$(var.ProjectDir)media\icon64x64.png" />
    </BootstrapperApplicationRef>

    <!-- Chain of packages to be installed. -->
		<Chain>
      <!-- Install the necessary .NET Framework before installing the trainer. -->
      <PackageGroupRef Id="NetFx45Web"/>
      
      <!-- Install the package generated by the "AquaRipperSetupMSI" project. -->
      <MsiPackage SourceFile="$(var.AquaRipperSetupMSI.TargetPath)" DisplayInternalUI="yes" />
		</Chain>
	</Bundle>
</Wix>